name: CI/CD Laravel Server

on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]

jobs: 
  ci:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.1

      - name: Install PHP
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: "8.4.1"

      - name: Install Composer
        run: composer install --no-interaction --no-progress --optimize-autoloader

      - name: Prepare Laravel 
        run: |
            cp .env.example .env
            php artisan key:generate
            php artisan jwt:secret
            php artisan config:cache
            php artisan config:clear
        
      - name: Run Tests
        run: php artisan test --without-tty

      
        
    
